{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
	{{wtf.form_field(form.sda_speed_max)}}
	{{wtf.form_field(form.sda_count_max)}}
	{{wtf.form_field(form.sda_rpt_id)}}
	{{wtf.form_field(form.confirm)}}
	<br>
</form>

<div>
	<p><br><strong>Result:</strong></p>
	<p>{{result}}</p>
</div>

<form method="post">
	{{wtf.form_field(form.showSensorsSubmit)}}
	{{wtf.form_field(form.showonmap)}}
</form>
{% endblock %}